<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
          integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css') }}">
</head>
<body>
{% block body %}

    <!-- Header-->
    {% block header %} {% endblock %}


    <!-- MAIN BLOCK -->
    {% block main %}    {% endblock %}

    <!-- MAIN FOOTER -->



{% endblock %}
<footer id="main-footer">
    Copyright &copy; 2020
</footer>
<script src="{{ url_for('static', filename = 'js/main.js') }}"></script>
</body>
</html>
